<footer class="w-100 py-4 flex-shrink-0">
  <div class="container px-4">
    <div class="row">
      <div class="col text-center">
        <h5 class="h1 text-white">FB.</h5>
        <p class="small text-muted">A beautiful online travel journal that ensures you never lose a travel memory again.</p>
        <p class="small text-muted"><a href="#">Home</a> <a href="#">About</a> <a href="#">Get started</a> <a href="#">FAQ</a></p>
        <p class="small text-muted">
            This app is made with <i class="fas fa-heart"></i> in Honolulu, Hawaii
        </p>
      </div>
    </div>
  </div>
</footer>
