<div class="info-window">
  <h2 class="py-3"><span class="highlight"><%= post.address.chomp[/^([^,])+/] %></span></h2>
  <p class="fw-bold"><%= post.date.strftime("%e %b %Y") %></p>
  <%= link_to "View post", post_path(post) %>
</div>
