.round-body {
  border-radius: 8px;
  border: none;
}

.round-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.theme-color {
  color: #ffe000;
}

.highlight {
  border-bottom: 5px solid #ffe000;
}
