.navbar-lewagon {
  justify-content: space-between;
  background: white;
  font-family: 'DM sans';
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  font-weight: 700;
  color: #000000;
  font-family: 'DM sans';
}

.nav-link:hover {
  color: #7E73FF;
}

.nav-btn {
  color: #ffffff;
  font-weight: 700;
}

// .nav-btn:hover {
//   background-color: #ffe000;
//   border: 1px solid #ffe000;
//   color: #ffffff;
// }
